altgraph==0.17.2
auto-py-to-exe==2.10.1
bottle==0.12.19
bottle-websocket==0.2.9
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
importlib-metadata==4.8.1
pyinstaller==4.6
pyinstaller-hooks-contrib==2021.3
PySide2==5.15.2
shiboken2==5.15.2
typing-extensions==3.10.0.2
whichcraft==0.6.1
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
